input {
	width: 280px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	margin-bottom: 20px;
}

select {
	width: 300px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	margin-bottom: 20px;
    background-color: transparent;
}

.controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
	flex-direction: column;
	width: 300px;
	margin: 0 auto;
}
